 <% @recent_recipes.each do |recipe| %>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div  data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= recipe.image if recipe.image.present? %>');">
         <div class="card-description">
					 <h2><%= recipe.name %></h2>
         </div>
        <%= link_to '', recipe_path(recipe), class: "card-link" %>
        </div>
      </div>
  </div>
  <% end %>

