<div class="btn-group pull-left">
  <%= link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @recipe.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_recipe_path(@recipe), method: :put, class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-chevron-down"></span>
    Downvote
    <%= @recipe.get_downvotes.size %>
  <% end %>
</div>