	<div class = "main">
    <%= video_tag "Sizzling.mp4", autoplay: :autoplay, loop: :loop, poster: "beef.jpg"%>
   <div class="content container">
		 <h1> SAVORY</h1>
    	<h2>Recipe Manager<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
   </div>
 </div>

