	<div class = "main">
    <%= video_tag "Sizzling.mp4", autoplay: :autoplay, loop: :loop %>
   <div class="content container">
    	<h1> SAVORY <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h1>
    	<h4>Recipe Manager</h4>
   </div>
 </div>

