/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*body{
      background: image-url("chefhat.jpg") no-repeat fixed; 
			   background-size: cover;
}*/

#allrecipes {
	color:cornflowerblue;
	padding-top: 35%;
	padding-bottom: 5%;
	text-align: center;
}
	ul {
  list-style-type: none;
  margin-left: -40px;
}


.details-recipe {
  margin-top: 30px;
}
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
	background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.home-banner {
  background-image: linear-gradient(-225deg,
rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), asset-url('banner.jpg');
}


.recipe-banner {
  height: 400px;
}


.card hr{
	color: #fff;
	width: 50%;
}
 .card-text, .js-more {
	color:#fff;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.main .content {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  color:#fff;
  left: 0;
  right: 0;
  margin: 0 auto;
	padding: 0 0 50px 0;

}

.main h1  {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color:#fff;
  margin-top:0px;
  margin-bottom:50px;
  padding: 0 40px;
}
h2 {
	font-size: 35px;
	text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color:#fff;
}
	
	@media screen and (max-device-width: 800px) {
    html {
         background: image-url("food.jpg") no-repeat fixed; 
			   background-size: cover;
			  
			   margin-top: 0;
    }
		.navbar {margin-bottom: 0;
		}
    video {
        display: none;
    }
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
a {
    
    text-decoration: none;
}
.recipe-comment::before,
.recipe-comment::after,
.recipe-comment-form::before,
.recipe-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.recipe-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.recipe-comment ul{
	list-style-type: none;
	padding: 0;
}





.recipe-comment .recipe-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #eee;
	color: #6b6e80;
	position: relative;
}

.recipe-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.recipe-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.recipe-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.recipe-comment h3,
.recipe-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
             