/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



.navbar-brand img {
  height: 50px;
	padding-bottom: 15px;
}


	ul {
  list-style-type: none;
  margin-left: -40px;
}


.details-recipe {
  margin-top: 30px;
}
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
	background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.home-banner {
  background-image: linear-gradient(-225deg,
rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), asset-url('banner.jpg');
}


.recipe-banner {
  height: 400px;
}


a, a:hover {
    text-decoration: none;
	  color: white;
}



#recipe-ingredients, #directions {
	margin-bottom: 50px;
	ul, ol {
		padding-left: 18px;
		li {
			padding: 1em 0;
			border-bottom: 1px solid #EAEAEA;
		}
	}
}

.recipe-comment::before,
.recipe-comment::after,
.recipe-comment-form::before,
.recipe-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.recipe-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.recipe-comment ul{
	list-style-type: none;
	padding: 0;
}

.recipe-comment .recipe-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #eee;
	color: #6b6e80;
	position: relative;
}

.recipe-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.recipe-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.recipe-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.recipe-comment h3,
.recipe-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
  .card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(200,200,200,0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}